body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
}
p{
    color: dimgray;
}
.name-highlight{
    color: rgb(255, 0, 140);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.header{

background-image: url("images/header-bg.png");
background-repeat: no-repeat;
   

}

section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image:linear-gradient( rgb(204, 67, 13), rgb(255, 71, 95));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}
.experience-area h2{
    text-align: center;
}

.experience-area{
    background-image: url("images/exp.png");
    background-repeat: no-repeat;
    background-position: left;
    
    
}

.BIOGRAPHY-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.work{
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
    background-position: 70px -180px;
    background-repeat: no-repeat;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .reviews{
      background-image: url(images/footer-bg.png);

  }
  

  
.single-experience{

    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 80%;
    

   
   border-left: 7px solid;
   border-image: linear-gradient(180deg, blue, cyan);
   border-image-slice: 1;
}
.h3{
    text-align: center;
}
#client-bg{
    background-image: url("images/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -70px ;
}
.client-head
{
    text-align: center;

}
.client-say{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

.message  {
    
    padding:20px 60px 30px 60px;
    background-color:rgba(255, 20, 98, 0.705);
    border-radius: 10px;
    

   
}
.message a{
    text-decoration: none;
    color: #fff;
}
.contact-img {
    margin-top: 8px;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
.column {
    float: left;
    width: 70%;
    margin-top: 10px;
    padding: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
   
  